#prototype {
    display: none;
}

#grid-title {
    padding: .5rem 0 .5rem;
    text-align: center;
    margin: -1rem 0 .5rem;
}

.cell-title:hover, #grid-title:hover {
    cursor: pointer;
    background: yellow;
}

.cell-title:focus, #grid-title:focus {
    background: none;
}

#grid .row {
    margin: 0;
    flex-wrap: nowrap;
}

#grid .col {
    text-align: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-left: -1px;
    margin-bottom: -1px;
}

.cell-title {
    margin: 0;
    padding: 0.5em 0; /* em, not rem! */
    font-size: 16px;
    white-space: nowrap;
}

#image-picker .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
}

#image-picker .modal-body form {
    margin-bottom: 1rem;
}

#image-picker .placeholder {
    display: none;
}

#image-results .no-results {
    margin: 0 auto;
}

#image-results input[name="pictogram"] {
    display: none;
}

label {
    border: 1px solid #fff;
}

label:before {
    background-size: 100% 100%;
    content: "";
    position: absolute;
    z-index: 1;
    transition-duration: 300ms;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMzQ2LjM4NCkiPjxwYXRoIGZpbGw9IiMxZWM4MWUiIGZpbGwtb3BhY2l0eT0iLjgiIGQ9Ik0zMiAzNDYuNGEzMiAzMiAwIDAgMC0zMiAzMiAzMiAzMiAwIDAgMCAzMiAzMiAzMiAzMiAwIDAgMCAzMi0zMiAzMiAzMiAwIDAgMC0zMi0zMnptMjEuMyAxMC4zbC0yNC41IDQxTDkuNSAzNzVsMTcuNyA5LjYgMjYtMjh6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuNSAzNzUuMmwxOS4zIDIyLjQgMjQuNS00MS0yNiAyOC4yeiIvPjwvZz48L3N2Zz4=);
    width: 30px;
    height: 30px;
    transform: scale(0);
    border-radius: 50%;
}

label img {
    transition-duration: 0.2s;
}

:checked + label {
    border-color: #ddd;
}

:checked + label:before {
    transform: scale(1);
}

:checked + label img {
    transform: scale(0.8);
    z-index: -1;
}

@media print {
    h1, .lead, .empty {
        display: none;
    }

    .cell-title {
        font-size: 1rem;
    }

    .cell-title::first-letter {
        margin-top: 0;
    }
}

@media (min-width: 544px) {
    .cell-title {
        font-size: 3vw;
    }
}

@media (min-width: 768px) {
    .cell-title {
        font-size: 2.5vw;
    }
}

@media (min-width: 992px) {
    .cell-title {
        font-size: 2vw;
    }
}

@media (min-width: 1200px) {
    .cell-title {
        font-size: 1.5vw;
    }
}
