packages:
    yum:
        git: []
commands:
    01_install_npm:
        command: |
            sudo yum -y --enablerepo=epel install nodejs npm
            sudo npm install -g npm
    02_install_bower_grunt_cli:
        command: sudo npm install -g bower grunt-cli
container_commands:
    01_install_local_grunt:
        command: sudo npm install grunt grunt-bowercopy grunt-replace load-grunt-tasks
    02_run_grunt:
        command: grunt
