{% extends "page.html" %}
{% set active_page = "Wordlists" %}
{% set subpage = "By Sounds" %}
{% from "macros.html" import consonant_select with context %}

{% block content %}
  <p class="lead">Create a wordlist based on chosen target sounds</p>

  <form class="form-inline" action="{{ url_for('wordlists.sound_search') }}" method="get">
    <label class="form-control-label" for="target1">Target 1:</label>
    {{ consonant_select("target") }}

    <label class="form-control-label" for="target2">Target 2:</label>
    {{ consonant_select("target2", allow_empty=True) }}

    <label class="form-control-label" for="target3">Target 3:</label>
    {{ consonant_select("target3", allow_empty=True) }}

    <label class="form-control-label" for="position">Position:</label>
    <select class="form-control mx-2" id="position" name="position">
      <option value="initial">Initial</option>
      <option value="medial">Medial</option>
      <option value="final">Final</option>
    </select>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <hr>

  <table id="results" class="table" data-order="[[1, &quot;desc&quot;]]">
    <thead>
    <tr>
      <th data-data="word">Word</th>
      <th data-data="frequency" data-searchable="false">Frequency</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='sounds.js') }}"></script>
{% endblock %}
