#prototype {
    display: none;
}

#grid-title {
    padding: .5rem 0 .5rem;
    text-align: center;
    margin: -1rem 0 .5rem;
}

.cell-title:hover, #grid-title:hover {
    cursor: pointer;
    background: yellow;
}

.cell-title:focus, #grid-title:focus {
    background: none;
}

#grid .row {
    margin: 0;
    flex-wrap: nowrap;
}

#grid .col {
    text-align: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-left: -1px;
    margin-bottom: -1px;
}

.cell-title {
    margin: 0;
    padding: 0.5em 0; /* em, not rem! */
    font-size: 16px;
    white-space: nowrap;
}

#image-picker .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
}

#image-picker .modal-body form {
    margin-bottom: 1rem;
}

#image-picker .placeholder {
    display: none;
}

#image-results .no-results {
    margin: 0 auto;
}

@media print {
    h1, .lead, .empty {
        display: none;
    }

    .cell-title {
        font-size: 1rem;
    }

    .cell-title::first-letter {
        margin-top: 0;
    }
}

@media (min-width: 544px) {
    .cell-title {
        font-size: 3vw;
    }
}

@media (min-width: 768px) {
    .cell-title {
        font-size: 2.5vw;
    }
}

@media (min-width: 992px) {
    .cell-title {
        font-size: 2vw;
    }
}

@media (min-width: 1200px) {
    .cell-title {
        font-size: 1.5vw;
    }
}
