header {
    padding-bottom: 3.5rem;
}

h1#page-title {
    margin-top: 1rem;
}

.navbar-brand sup {
    color: rgba(255, 255, 255, .5);
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

.btn:not(.disabled):hover {
    cursor: pointer;
}

ul.pagination > li.disabled {
    cursor: not-allowed;
}

.navbar-toggler-right {
    right: 0;
}

/* fix for modal moving page to left when open */
body.modal-open {
    padding-right: 17px !important;
}

body.modal-open .navbar.fixed-top {
    padding-right: 34px !important;
}

@media (max-width: 992px) {
    .navbar-toggleable-md > .container {
        padding-left: inherit;
    }
}

@media (max-width: 575px) {
    .navbar-toggleable-md > .container {
        padding: 0;
        margin: 0;
    }
}

@media print {
    header {
        display: none;
    }
}
