{% extends "page.html" %}
{% set active_page = "Grid Builder" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/font-awesome.min.css') }}">
  <style>
    #prototype {
      display: none;
    }

    #grid h2 {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .cell-title:hover, #grid-title:hover {
      cursor: pointer;
    }

    .row {
      margin: 0;
      border-top: 1px solid rgba(0, 0, 0, .5);
      flex-wrap: nowrap;
    }

    .row + .row {
      border: 0;
    }

    .col {
      text-align: center;
      border-style: solid;
      border-color: rgba(0, 0, 0, .5);
      border-width: 0 1px 1px 1px;
      padding: 0;
    }

    .col + .col {
      border-left: 0;
    }

    .col h4 {
      padding: 0;
      margin-bottom: 0.75rem;
      font-size: 1.5vw;
      white-space: nowrap;
    }

    @media print {
      h1, .lead {
        display: none;
      }

      .col h4 {
        font-size: 1rem;
      }

      h4::first-letter {
        margin-top: 0;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <p class="lead">Build grid worksheets for practice</p>

  <form class="form-inline hidden-print">
    <label for="grid-size" class="form-control-label">Grid size: </label>
    <select id="grid-size" name="grid-size" class="form-control mx-2">
      <option value="3">3 x 3</option>
      <option value="4">4 x 4</option>
      <option value="5">5 x 5</option>
    </select>
    <button id="print" class="btn btn-primary mr-2"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
  </form>
  <hr class="hidden-print">

  <div id="prototype">
    <div class="col">
      <img class="img-fluid cell-image" data-src="holder.js/400x400?auto=yes&font=FontAwesome&text=&#xf03e;&size=100"
           src="">
      <h4 class="cell-title" contenteditable="true">Click to edit</h4>
    </div>
  </div>

  <section id="grid">
    <h2 id="grid-title" contenteditable="true">Click to add title</h2>
    <div id="grid-cells"></div>
  </section>

  <br>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendor/holder.min.js') }}"></script>
  <script>
      "use strict";

      $(document).ready(function () {
          var $prototype = $("#prototype").children();
          var $gridsize = $("#grid-size");
          var $gridcells = $("#grid-cells");
          $gridsize.change(function () {
              $gridcells.empty();
              for (var i = 0; i < $gridsize.val(); i++) {
                  var $row = $('<div class="row">');
                  for (var j = 0; j < $gridsize.val(); j++) {
                      $prototype.clone().appendTo($row);
                  }
                  $row.appendTo($gridcells);
              }
          }).trigger("change");

          $("#print").click(function(e) {
              e.preventDefault();
              window.print();
          });
      });
  </script>
{% endblock %}
