{% extends "page.html" %}
{% set active_page = "Grid Builder" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='grid-builder.css') }}">
{% endblock %}

{% block content %}
  <p class="lead">Build grid worksheets for practice</p>

  <form class="form-inline hidden-print">
    <label for="grid-size" class="form-control-label">Grid size: </label>
    <select id="grid-size" name="grid-size" class="form-control mx-2">
      <option value="3">3 x 3</option>
      <option value="4">4 x 4</option>
      <option value="5">5 x 5</option>
    </select>
    <button id="print" class="btn btn-primary mr-2"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
  </form>
  <hr class="hidden-print">

  <div id="prototype">
    <div class="col">
      <img class="img-fluid cell-image hidden-print"
           data-src="holder.js/400x400?auto=yes&font=FontAwesome&text=&#xf03e;&size=100"
           data-toggle="modal" data-target="#image-picker">
      <h4 class="cell-title text-muted hidden-print" contenteditable="true" data-placeholder="(Click to edit)">
        (Click to edit)</h4>
    </div>
  </div>

  <div class="modal" id="image-picker" tabindex="-1" role="dialog" aria-labelledby="image-picker-title"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="image-picker-title">Select an image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('pictogram_search') }}" method="get" class="form">
            <label for="image-search-query" class="sr-only">Query:</label>
            <input id="image-search-query" name="query" class="form-control">
          </form>
          <div class="placeholder text-center text-muted"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
          <div id="image-results" class="row"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="save" type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <section id="grid">
    <h2 id="grid-title" class="text-muted hidden-print" contenteditable="true" data-placeholder="(Click to add title)">
      (Click to add title)</h2>
    <div id="grid-cells"></div>
  </section>

  <br>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendor/holder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.imgcheckbox.js') }}"></script>
  <script src="{{ url_for('static', filename='grid-builder.js') }}"></script>
{% endblock %}
