{% extends "page.html" %}
{% set active_page = "Grid Builder" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='grid-builder.css') }}">
{% endblock %}

{% block content %}
  <p class="lead">Build grid worksheets for practice</p>

  <form class="form-inline hidden-print">
    <label for="grid-size" class="form-control-label">Grid size: </label>
    <select id="grid-size" name="grid-size" class="form-control mx-2">
      <option value="3">3 x 3</option>
      <option value="4">4 x 4</option>
      <option value="5">5 x 5</option>
    </select>
    <button id="print" class="btn btn-primary mr-2"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
  </form>
  <hr class="hidden-print">

  <div id="prototype">
    <div class="col empty-cell">
      <img class="img-fluid cell-image" data-src="holder.js/400x400?auto=yes&font=FontAwesome&text=&#xf03e;&size=100"
           src="">
      <h4 class="cell-title text-muted" contenteditable="true" data-placeholder="(Click to edit)">
        (Click to edit)</h4>
    </div>
  </div>

  <section id="grid">
    <h2 id="grid-title" class="text-muted" contenteditable="true" data-placeholder="(Click to add title)">
      (Click to add title)</h2>
    <div id="grid-cells"></div>
  </section>

  <br>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendor/holder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='grid-builder.js') }}"></script>
{% endblock %}
