{% extends "base.html" %}
{% block pagetitle %}{{ project_name }}{% endblock %}

{% block main %}
  <div class="jumbotron">
    <section class="container">
      <h1 class="display-3">Welcome!</h1>

      <p class="lead"><strong>ArticTools</strong> is a collection of free tools for use in speech therapy for
        articulation.</p>
    </section>
  </div>
  <div class="container">
    <div class="row">
      <section class="col-md-4">
        <h2><i class="fa fa-file-image-o" aria-hidden="true"></i> Find Pictograms</h2>

        <p>Search for <a href="{{ url_for("pictograms") }}">color pictograms</a> using keywords. This lets you
          avoid using verbal modeling and focus on spontaneous production.</p>
      </section>

      <section class="col-md-4">
        <h2><i class="fa fa-list" aria-hidden="true"></i> Generate Wordlists</h2>

        <p>Generate target word lists based on <a href="{{ url_for("minimal_pairs") }}">minimal pairs</a> for your
          target sounds.</p>
      </section>

      <section class="col-md-4">
        <h2><i class="fa fa-table" aria-hidden="true"></i> Create Worksheets</h2>

        <p>Combine pictograms with target words to <a href="{{ url_for("grid_builder") }}">create worksheets</a> for
          therapy sessions or home practice.</p>
      </section>
    </div>
  </div>
{% endblock %}
