{% extends "base.html" %}
{% set active_page = "Moving Across Syllables" %}

{% block content %}
  <p class="lead">Find words matching Moving Across Syllables sequences</p>

  <form class="form-inline" method="get" action="{{ url_for('moving_across_syllables_search') }}">
    <label class="control-label" for="start">Sequence start:</label>
    <select class="form-control" name="start" id="start">
      <option value="B">B (bilabial)</option>
      <option value="D">D (dental)</option>
      <option value="A">A (alveolar)</option>
      <option value="P">P (palatal)</option>
      <option value="V">V (velar)</option>
    </select>

    <label class="control-label" for="end">Sequence end:</label>
    <select class="form-control" name="end" id="end">
      <option value="B">B (bilabial)</option>
      <option value="D">D (dental)</option>
      <option value="A">A (alveolar)</option>
      <option value="P">P (palatal)</option>
      <option value="V">V (velar)</option>
    </select>

    <label class="control-label">Number of syllables:
      <input id="syllables" name="syllables" class="form-control">
    </label>

    <button class="btn" type="submit">Search</button>
  </form>
  <br>
  <table id="results" class="table">
    <thead>
    <tr>
      <th>Word</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='moving-across-syllables.js') }}"></script>
{% endblock %}
