{% extends "page.html" %}
{% set active_page = "Pictograms" %}

{% block content %}
  <p class="lead">Find pictograms based on a search term</p>
  <form action="{{ url_for('pictogram_search') }}" method="get" class="form-inline">
    <label class="form-control-label" for="query">Query:</label>
    <input id="query" name="query" class="form-control mx-2" placeholder="Enter search query...">
    <button class="btn btn-primary" type="submit" disabled>Search</button>
    <input type="hidden" id="minimum-query-length" value="{{ config["MINIMUM_PICTOGRAM_QUERY_LENGTH"] }}">
  </form>
  <hr>
  <table id="results" class="table">
    <thead>
    <tr>
      <th>Term</th>
      <th data-orderable="false">Image(s)</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='pictograms.js') }}"></script>
{% endblock %}}
